body {
  background-color:aliceblue;
}

.container {
  background-color: white;
  padding-bottom: 1em;
}

img {
  width: 100%;
}
h1 {
  text-align: center;
}
.result{
  display: none;
}

.btn {
  color: white;
  font-size: 2rem;
  background-color:rgb(105, 173, 173);
  width: 60%;
  display: block;
  margin: 1em auto;
}

.btn:hover {
  color: white;
  font-weight: bold;
  width: 70%;
}

